:root{
  --color-pink: #F19CBB;
  --color-lightblue: #42AAFF;
  --color-bluedarkest: #000218;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-item{
  color: #eeee;
  background-color: #2D384A;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  border: 0px;
  outline: 0px;
}
.accordion-button {
  color: #aaa;
  background-color: #0A1F32;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:not(.collapsed) {
  color: #eeee;
  background-color: #0A1F32;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}



